.content-title {
  margin-top: 25px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  font-family: $secondary-font;
  text-align: center;
  color: #373e42;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .content-title {
    font-size: 49px;
    line-height: 1.06;
  }
}

@media (min-width: $desktop-width) {
  .content-title {
    margin-bottom: 44px;

    font-size: 63px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width-wide) {
  .content-title {
    margin-top: 15px;
  }
}
