.content-title {
  margin-top: 25px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  font-family: $secondary-font;
  text-align: center;
  color: #373e42;
  text-transform: uppercase;
}
