.controls {
  display: flex;

  // background-color: rgba(#b1b2ba, 0.4);
}

.controls__left,
.controls__right {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 93px;
}

.controls__left {
  background-color: rgba(#b1b2ba, 0.4);
}

.controls__right {
  background-color: rgba(#96979e, 0.4);
}

.controls__image {
  position: relative;
  z-index: -1;

  width: 65px;
}

.controls__button {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.controls__icon {
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .controls__left,
  .controls__right {
    height: 215px;
  }

  .controls__left:hover {
    background-color: rgba(#b1b2ba, 0.3);
  }

  .controls__right:hover {
    background-color: rgba(#96979e, 0.3);
  }

  .controls__image {
    width: 150px;
  }
}

@media (min-width: $desktop-width) {
  .controls__left,
  .controls__right {
    height: 100%;
  }
}
