.contacts__wrapper {
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.contacts__title {
  position: relative;

  margin-top: 26px;
  margin-bottom: 20px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 35px;
  line-height: 1.17;
  font-family: $secondary-font;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 56px;
    height: 3px;

    background-color: rgba($gray-font, 0.5);
    transform: translateX(-50%);
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__icon {
  width: 34px;
  height: 34px;
  margin-right: 10px;

  fill: $color-accent;
}

.contacts__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba($gray-font, 0.8);
}

.contacts--footer {
  padding-top: 15px;
  padding-bottom: 15px;

  .contacts__item {
    display: block;
    margin-bottom: 0;

    text-align: center;
  }

  .contacts__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;

    height: 680px;
  }

  .contacts__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 350px;
    padding: 30px 20px;

    background: rgba(#ffffff, 0.7);
    transform: translate(-50%, -50%);
  }

  .contacts__title {
    margin-top: 0;

    font-size: 30px;
    line-height: 1.37;

    &::after {
      width: 90px;
    }
  }

  .contacts__item {
    margin-bottom: 20px;
  }

  .contacts--footer .contacts__item {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    width: 580px;
  }

  .contacts__title {
    margin-bottom: 30px;

    font-size: 35px;
    line-height: 1.1;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 270px;
  }

  .contacts__icon {
    width: 45px;
    height: 45px;
  }

  .contacts--footer .contacts__item {
    text-align-last: left;
  }
}
