.form__block {
  display: flex;
  flex-direction: column;
  padding: 0 22px;
}

.form__field {
  margin: 0;
  margin-bottom: 20px;
  padding: 13px 20px;

  color: rgba(#ffffff, 0.5);

  background-color: rgba(255, 255, 255, 0.07);
  border: none;

  &--comment {
    resize: none;
  }
}

.form__field::placeholder {
  color: rgba(#ffffff, 0.5);
}

.form__buttons {
  display: flex;
}

.form__button {
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .form__field--comment {
    height: 130px;
  }
}

@media (min-width: $desktop-width) {
  .form__field {
    font-size: 16px;
  }
}
