.login-checkbox {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.login-checkbox__fake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  background: #ffffff;

  transition: background 0.2s ease;

  svg {
    width: 0;
    height: 0;

    transition: width 0.2s ease, height 0.2s ease;

    fill: #ffffff;
  }
}

.login-checkbox__input:checked + .login-checkbox__fake {
  background: #0548be;
}

.login-checkbox__input:checked + .login-checkbox__fake svg {
  width: 12px;
  height: 9px;
}
