.nav--fullscreen {
  position: relative;

  width: 26px;
  height: 23px;

  .nav__list {
    display: none;
  }
}

.nav--footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav__item {
  margin-right: 10px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: #ffffff;
}

.nav__toggle {
  position: absolute;
  top: 50%;

  padding: 0;

  background-color: transparent;
  border: none;
  transform: translateY(-50%);
}

.nav__toggle-elem {
  display: block;
  width: 26px;
  height: 3px;

  background: #ffffff;
  border-radius: 2px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 26px;
    height: 3px;

    background: #ffffff;
    border-radius: 2px;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

@media (min-width: $tablet-width) {
  .nav--fullscreen {
    width: 40px;
    height: 35px;
  }

  .nav__toggle-elem {
    width: 40px;
    height: 5px;

    &::before {
      top: -15px;

      width: 40px;
      height: 5px;
    }

    &::after {
      bottom: -15px;

      width: 40px;
      height: 5px;
    }
  }

  .nav--footer {
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 0;

    .nav__list {
      justify-content: flex-start;
    }

    .nav__item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .nav--footer {
    font-size: 16px;
    font-weight: 500;
  }
}

@media (min-width: $desktop-width-wide) {
  .nav--footer {
    margin-bottom: 26px;
  }
}
