.nav--fullscreen {
  position: relative;

  width: 26px;
  height: 23px;

  .nav__list {
    display: none;
  }
}

.nav--footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav__item {
  margin-right: 10px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: #ffffff;
}

.nav__toggle {
  position: absolute;
  top: 50%;

  padding: 0;

  background-color: transparent;
  border: none;
  transform: translateY(-50%);
}

.nav__toggle-elem {
  display: block;
  width: 26px;
  height: 3px;

  background: #ffffff;
  border-radius: 2px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 26px;
    height: 3px;

    background: #ffffff;
    border-radius: 2px;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}
