.page-footer {
  color: #ffffff;

  background-color: $color-gray;

  &--welcome {
    background-color: transparent;
  }

  &--transparent {
    opacity: 0.85;
  }
}

.page-footer__top {
  padding-right: 10px;
  padding-left: 10px;
}

.page-footer__intro {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 18px;
  padding-bottom: 15px;

  font-weight: 300;
  text-align: center;

  border-bottom: 1px solid #65666d;
}

.page-footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;

  border-bottom: 1px solid #65666d;
}

.page-footer__socials {
  width: 150px;
}

@media (min-width: $tablet-width) {
  .page-footer__top {
    display: flex;
    flex-wrap: wrap;
    padding-right: 23px;
    padding-bottom: 15px;
    padding-left: 23px;
  }

  .page-footer__intro {
    width: 100%;
  }

  .page-footer__nav {
    align-items: flex-start;
    width: 50%;

    border-bottom: none;
  }

  .page-footer__socials {
    width: auto;
  }

  .page-footer__contacts {
    width: 50%;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
    margin: 0 auto;
  }

  .page-footer__top {
    flex-wrap: initial;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-footer__intro {
    width: 35%;
    margin-bottom: 0;
    padding: 0;
    padding-right: 30px;

    font-size: 16px;
    text-align: left;

    border-right: 1px solid #4e5563;
    border-bottom: none;;
  }

  .page-footer__nav {
    width: 45%;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;

    border-right: 1px solid #4e5563;
  }

  .page-footer__socials {
    margin-top: auto;
  }

  .page-footer__contacts {
    width: 20%;
    padding-left: 30px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width-wide) {
  .page-footer__socials {
    margin-top: 0;
  }
}
