.scroll {
  z-index: 20;

  cursor: pointer;

  &:hover .scroll__icon {
    fill: #ffffff;
  }
}

.scroll__button {
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.scroll__icon {
  width: 26px;
  height: 16px;

  transition: fill 0.2s ease;

  fill: rgba(#ffffff, 0.7);
}
