.section-title__header {
  margin: 0;

  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  font-family: $secondary-font;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.section-title__info {
  margin: 0;
  margin-top: 8px;
}
