.welcome-page {
  position: relative;

  background: #3b5381 url("../../img/bg-mobile.jpg") no-repeat center;
  background-size: cover;
}

.welcome-page__auth {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

